In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
data=pd.read_csv("bbc-text.csv")

In [23]:
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [25]:
data.isnull().any()

category    False
text        False
dtype: bool

In [26]:
data["category"].unique()

array(['tech', 'business', 'sport', 'entertainment', 'politics'],
      dtype=object)

In [29]:
data['News_length']=data['text'].str.len()
print(data['News_length'])

0       4333
1       1842
2       1342
3       2176
4       1579
        ...
2220    1745
2221     955
2222    1648
2223    4684
2224    1167
Name: News_length, Length: 2225, dtype: int64

In [31]:
data.shape

(2225, 3)

In [79]:
import re

In [103]:
from nltk.corpus import stopwords
sw=stopwords.words("english")

In [111]:
from nltk.stem.porter import PorterStemmer

def process_text(text):
    corpus=[]
    for i in range(len(data["text"])):
        review = re.sub( '[^a-zA-Z]', ' ', data['text'][i] )
        review=review.lower()
        review=review.split()
        #ps=PorterStemmer()
        review=[word for word in review if word not in sw]
        review=" ".join(review)
        corpus.append(review)

In [112]:
process_text(data["text"])

In [116]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder() 
data['Category_target']=le.fit_transform(data['category'])